<div class="form-group">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    class="form-control"
    [formControl]="form().controls.name"
  />
</div>
<div class="form-group">
  <label for="values">Values:</label>
  <select
    id="values"
    class="form-control"
    size="2"
    [formControl]="form().controls.values"
    multiple
  >
    <option value=""></option>
    @for (value of attribute.values; track $index) {
    <option [value]="value">{{ value }}</option>
    a }
  </select>
</div>
